
#*

#!.gitignore
#!docker-compose.yml
#!README.md

#!wp-content/
#wp-content/*
#!wp-content/themes/
#wp-content/themes/*
#!wp-content/themes/index.php

*
!.gitignore
!docker-compose.yml
!README.md

!wp-content/
wp-content/*
!wp-content/themes
wp-content/themes/*
!wp-content/themes/myapp/
wp-content/themes/myapp/*
!wp-content/themes/myapp/*.php

